.img-product {
    object-fit: cover;
    max-width: 500px;
    background-color: #fff;
}

.text-justify{
    text-align: justify;
}

.usr-img {
    width: 15%;
    border-radius: 50%;
}

.btn-card-product {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    text-decoration: none;
    transition: all 250ms;
    width: auto;
  }
  
  .btn-card-product:hover,
  .btn-card-product:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .btn-card-product:hover {
    transform: translateY(-1px);
  }
  
  .button-card-product:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
  }


