@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

:root {
  --main-color: #faab78;
  --main-light-color: #ffdca9;
  --secondary-color: #fcf9be;
  --secondary-light-color: #e8f3d6;
  --dark-color: #1f1717;
  --gray-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans", sans-serif;
}

/* ==================NAVBAR===================== */

.navbar {
    background-color: #fcf9be;
}

.logo{
    justify-self: center;
}

.logo img{
    width: 25%;
    max-width: 50px;
}

.shopping-cart-btn{
    position: relative;
}

.nitems-added{
    position: absolute;
    top: 0px;
    right: -9px;
    border: 1px solid black;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 40%;
    height: 45%;
}

@media (min-width: 990px){
    .navbar-toggler-btn{
        display: none;
    }
}

/* ================FOOTER================= */

.parrafo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.left-column {
    margin: 20px;
    text-align: start;
}

.right-column {
    margin: 70px;
}
  
footer {
    background-color: #fcf9be;
}

.btn-primary {
    background-color: #faab78;
    color: black;
}

.container-fluid a {
    text-decoration: none;
    color: black;
}
  
.imagen-footer {
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
}


@media (max-width: 767px) {
    .left-column,
    .center-column,
    .right-column {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .imagen-footer {
      height: 70px;
      margin-top: 0px;
    }
    * {
      font-size: 14px;
    }
}

@media (max-width: 768px) {
    .right-column {
      margin: 30px;
    }
}
  
.btn-primary {
    border-color: #faab78;
}


.img-login-container img{
    max-width: 200px;
    width: 100%;
}

.btn-facebook-login img,
.btn-google-login img{
    width: 15%;
    border-radius: 50%;
}

.btn-facebook-login p,
.btn-google-login p{
    font-size: 1.1rem;
}

.btn-facebook-login{
    background-color: #1877f2;
    padding: 0.5rem;
    border-radius: 40px;
    width: 80%;

}

.btn-google-login{
    background-color: #efefef;
    padding: 0.5rem;
    border-radius: 40px;
    width: 80%;
}

@media (min-width: 768px){
    .btn-facebook-login,
    .btn-google-login{
        width:60%;
    }
}

.btn-card-product {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    text-decoration: none;
    transition: all 250ms;
    width: auto;
  }
  
  .btn-card-product:hover,
  .btn-card-product:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .btn-card-product:hover {
    transform: translateY(-1px);
  }
  
  .button-card-product:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
  }